<%= render('admin/left_bar') %>
<%= render('admin/title') %>
<div class="content">
  <table class="admin_table">
    <tr>
      <th>id</th>
      <th>mark</th>
      <th colspan="2">driver</th>
      <th colspan="2">helper</th>
      <th colspan="2">management</th>
    </tr>
    <%= cars_table_contents %>
  </table>
  <%= link_to('New car', action: :new_car) %>
</div>
