<%= render('admin/left_bar') %>
<%= render('admin/title') %>
<div class="content">
  <table class="admin_table">
    <tr>
      <th>id</th>
      <th>day</th>
      <th>time</th>
      <th colspan="2">store</th>
      <th colspan="2">management</th>
    </tr>
    <%= inspect_task_plans_table_contents %>
  </table>
  <%= link_to('New inspect task plan', action: :new_inspect_task_plan) %>
</div>
