<%= render('admin/left_bar') %>
<%= render('admin/title') %>
<div class="content">
  <table class="admin_table">
    <tr>
      <th>id</th>
      <th>name</th>
      <th colspan="2">first store for goods handling</th>
      <th colspan="2">management</th>
    </tr>
    <%= regions_table_contents %>
  </table>
  <%= link_to('New region', action: :new_region) %>
</div>
