body#login {
  height: 100%;
}

div#login_content {
  width: 24em;
  margin: 0 auto;
}

div#login_title {
  margin: 8px auto 2em auto;
}

div#placeholder {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -18em;
}

html#login {
  height: 90%;
}

textarea {
  resize: none;
}
