body#login {
  height: 100%;
}

div#login_content {
  width: 24em;
  margin: 0 auto;
}

div#admin_left_bar {
  position: fixed;
  left: 0;
  top: 0;
  width: 20em;
  height: 100%;
  border: #aaa solid 0;
  border-right-width: 1px;
  background: #d1e2fe;
}

div#placeholder {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -18em;
}

div#title {
  margin: 8px auto 2em auto;
  text-align: center;
}

html#login {
  height: 90%;
}
