<div id="admin_left_bar">
  <div class="title">
    <h2>Logistic System</h2>
    <h3>Admin Menu</h3>
    <br>
    <p><%= link_to_unless(selected == 'server status', 'server status', action: :server_status) %></p>
    <p><a>accounts</a></p>
    <p><a>shop</a></p>
    <p><a>stores</a></p>
    <p><a>conveyor</a></p>
  </div>
</div>
